obj/
/obj/
.vscode/
/.vscode/
.idea/
/.idea/
*.gml
graphclustering/bin/
/graphclustering/bin/
NetMining/bin/Debug/
/NetMining/bin/Debug/
debugNetData/bin/Debug/Data/
/debugNetData/bin/Debug/Data/
bin/
obj/
.DS_Store
*.cache
.vs/NetData/v15
